PORT=4000
SUPABASE_URL=https://uxinnfpkckbsagwrmpcb.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Zt7XGwF6XuCAyb6CTwJ4Ug_s98dHe_2
SUPABASE_SECRET_KEY=sb_secret_jStUws7xzvySSubIukTUkg_yR_kWrOQ
SUPABASE_JWKS_URL=https://uxinnfpkckbsagwrmpcb.supabase.co/auth/v1/.well-known/jwks.json

# Optional: frontend origin for CORS
FRONTEND_ORIGIN=http://localhost:3000
